<div class="b-example-divider"></div>
<div class="container">

  <h1>Nuevo Usuario</h1>
  <form action="/usuario/c" method="post">
    <label for="id-nombre">Nombre</label>
    <input id="id-nombre" type="text" name="nombre"/>
    <br/>
    <label for="id-dni">Dni</label>
    <input id="id-dni" type="text" name="dni"/>
    <br/>
    <label for="id-mail">Correo electrónico</label> <!-- Agregado -->
    <input id="id-mail" type="email" name="mail"/> <!-- Agregado -->
    <br/>
    <label for="id-contraseña">Contraseña</label> <!-- Agregado -->
    <input id="id-contraseña" type="password" name="contraseña"/> <!-- Agregado -->
    <br/>
    <label for="id-idtipousu">Tipo de Usuario</label>
        <select name="idtipousu">
            <option 
                th:each="tipousu:${tipousues}" 
                th:text="${tipousu.nombre}" 
                th:value="${tipousu.id}" 
            />
        </select>
        <br><br>

        <input type="submit">
        <button onclick="window.location.href='/'">Cancelar</button>
    </form>
</div>