<header class="p-3 text-bg-dark">
  <div class="container header-container">
    <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
      <div class="col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
        <div class="d-flex align-items-center">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/img/logoP.png" alt="" width="100px" height="100px" style="margin-left: -140px;">
            <svg class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap">
              <use xlink:href="#bootstrap" />
            </svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: -70px;">
            <li><a href="/" class="nav-link px-2 text-secondary">Ibertrade</a></li>
            <li><a href="/catalogue" class="nav-link px-2 text-white">Catálogo</a></li>
            <li th:if="${session.usuario != null and session.usuario.admin}"><a href="/admin"
                class="nav-link px-2 text-white">Admin</a></li>
          </ul>
        </div>
      </div>
      <div class="d-flex align-items-center" style="margin-left: 300px;">
        <span id="cart-count" class="badge rounded-circle" style="display: none;">0</span>
        <button type="button" class="btn btn-outline-success me-2" onclick="window.location.href='/comprar'">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
            viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
          </svg>
          Carrito
        </button>
        <span th:if="${session.usuario!=null}" class="admin-greeting"
          th:classappend="${session.usuario.admin} ? 'admin-greeting' : ''">
          <i class="fas fa-user-shield" th:if="${session.usuario.admin}" style="margin-right: 5px;"></i>
          <span th:text="|Bienvenido ${session.usuario.nombre} |"></span>
        </span>
        <a th:if="${session.usuario!=null}" href="/logout" th:class="${session.usuario.admin} ? 'admin-style' : ''"
          class="btn btn-outline-light me-2">Cerrar Sesión</a>
        <button type="button" class="btn btn-outline-light me-2" th:if="${session.usuario==null}"
          onclick="window.location.href='/login'">Iniciar Sesión</button>
        <button type="button" class="btn btn-warning" th:if="${session.usuario==null}"
          onclick="window.location.href='/signup'">Registrarse</button>
      </div>
    </div>
  </div>
</header>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const BASE_URL = window.location.origin;
    const API_URL = `${BASE_URL}/api/carritos/item-count`;

    fetch(API_URL)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        const cartCountElement = document.getElementById('cart-count');
        if (cartCountElement) {
          const itemCount = typeof data === 'number' ? data : 0;
          cartCountElement.textContent = itemCount;

          if (itemCount > 0) {
            cartCountElement.style.display = 'inline-block';
          } else {
            cartCountElement.style.display = 'none';
          }
        }
      })
      .catch(error => {
        console.error('Error al obtener la cantidad de elementos del carrito:', error);
        const cartCountElement = document.getElementById('cart-count');
        if (cartCountElement) {
          cartCountElement.style.display = 'none';
        }
      });
  });
</script>
