<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/img/about.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Iber-Que?</h1>
      <p class="lead">Somos un pequeño grupo de desarrolladores amateur de una escuela en Madrid, unidos por una pasión común: las zapatillas exclusivas. Con el conocimiento adquirido sobre el mercado chino y nuestros recientes estudios en desarrollo web, hemos decidido dar el paso y crear nuestra propia empresa. Queremos ofrecer una experiencia única y personalizada a los amantes de las zapatillas, combinando nuestro entusiasmo y habilidades técnicas para llevar lo mejor del mercado internacional a tus pies. ¡Únete a nosotros en esta emocionante aventura!</p>
    </div>
      <div class="row mt-5">
        <div class="col-lg-12 text-center">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 mb-4">Nuestro equípo</h1>
          <div class="container marketing">
            <div class="row">
              <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/><image href="/img/alberto.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice"/></svg>
                <h2 class="fw-normal">Alberto</h2>
                <p>Alberto es un desarrollador web amateur enfocado en el front-end y el diseño de imágenes. Su habilidad en HTML, CSS y JavaScript, combinada con su talento para crear gráficos llamativos, le permite construir sitios web atractivos y funcionales.</p>
              </div>
              <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/><image href="/img/jorge.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice"/></svg>
                <h2 class="fw-normal">Jorge</h2>
                <p>Jorge es un desarrollador web amateur especializado en bases de datos y sistemas de login de usuario. Con un enfoque meticuloso, maneja la gestión de datos y la seguridad, asegurando que los usuarios puedan acceder a los sitios de manera eficiente y segura.</p>
              </div>
              <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/><image href="/img/linxuan.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice"/></svg>
                <h2 class="fw-normal">Linxuan</h2>
                <p>Linxuan es un desarrollador web amateur encargado de las consultas a la base de datos y de implementar pequeñas funciones en la página web. Su habilidad para optimizar la interacción con los datos y añadir funcionalidades mejora la eficiencia y la experiencia del usuario en el sitio.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>