<div class="b-example-divider"></div>
  <div class="container text-center py-4">
    <div class="btn-group-vertical d-inline-block">
      <div class="mb-3">
        <button class="btn btn-outline-primary" onclick="window.location.href='/usuario/r'">Usuarios</button>
        <div class="btn-description">Administra todos los usuarios.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-primary" onclick="window.location.href='/zapatilla/r'">Zapatillas</button>
        <div class="btn-description">Consulta las zapatillas disponibles.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-primary" onclick="window.location.href='/marca/r'">Marcas</button>
        <div class="btn-description">Explora las diferentes marcas.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-primary" onclick="window.location.href='/pedido/r'">Pedidos</button>
        <div class="btn-description">Gestiona los pedidos realizados.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-primary" onclick="window.location.href='/modelo/r'">Modelos</button>
        <div class="btn-description">Descubre los modelos disponibles.</div>
      </div>
    </div>
  </div>
