<div class="b-example-divider"></div>

<div class="container text-center">
  <h3 class="text-primary fw-bold">¡Bienvenido a nuestras preguntas frecuentes!</h3>
  <p class="mb-5">En esta página, encontrarás respuestas claras y concisas a las preguntas que más nos hacen nuestros usuarios. Queremos asegurarnos de que tengas toda la información que necesitas para aprovechar al máximo nuestros servicios.</p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-mail" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><rect x="3" y="5" width="18" height="14" rx="2" /><polyline points="3 7 12 13 21 7" /></svg> ¿Cómo puedo estar seguro de que mi información de pago está protegida cuando utilizo vuestro servicio?</h6>
      <p><strong><u>¡Absolutamente!</u></strong> Trabajamos con las principales compañías de pago que garantizan tu seguridad. Toda la información de facturación se almacena en nuestro socio de procesamiento de pagos.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-edit" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M20 4.586l-2.586 -2.586a2 2 0 0 0 -2.828 0l-12 12a2 2 0 0 0 0 2.828l2.586 2.586a2 2 0 0 0 2.828 0l12 -12a2 2 0 0 0 0 -2.828" /><path d="M16 4l4 4" /><path d="M12 8l8 8" /></svg> ¿Puedo cancelar mi suscripción en cualquier momento sin enfrentar cargos adicionales?</h6>
      <p><strong><u>Sí, es posible!</u></strong> Puedes cancelar tu suscripción en cualquier momento desde tu cuenta. Una vez cancelada la suscripción, no se te cobrará el próximo mes.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-user" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><circle cx="12" cy="7" r="4" /><path d="M6 21v-1a3.5 3.5 0 0 1 3.5 -3.5" /><path d="M17 21v-1a3.5 3.5 0 0 0 -3.5 -3.5" /></svg> ¿Ofrecen opciones de suscripción diferentes a la mensual, como trimestral o anual, o solo está disponible la suscripción mensual?</h6>
      <p>Actualmente, solo ofrecemos suscripción mensual. Puedes actualizar o cancelar tu cuenta mensual en cualquier momento sin ninguna obligación adicional.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-rocket" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M14.5 3l-11 11h6a3 3 0 0 0 3 -3v-6zm-6.5 14l3 3v-6l-8 -2l2 8h-1v2h2" /><path d="M20 14l-2 2l-1.5 -1.5" /><line x1="14" y1="20" x2="15.5" y2="21.5" /><path d="M16 5a2.5 2.5 0 0 1 2.5 2.5" /></svg> ¿Cómo puedo cambiar la información de mi método de pago en mi cuenta?</h6>
      <p>Sí. Ve a la sección de facturación de tu panel de control y actualiza tu información de pago.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-home" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a1 1 0 0 0 1 1h6v-6" /><path d="M12 19v3h6a1 1 0 0 0 1 -1v-7" /><path d="M12 19v3h6a1 1 0 0 0 1 -1" /></svg> ¿Ofrecen algún tipo de reembolso en caso de insatisfacción con el servicio?</h6>
      <p><strong><u>Lamentablemente no</u>.</strong> No emitimos reembolsos completos o parciales por ningún motivo.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-book-open" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M14 4v16a2 2 0 0 1 -2 2H6a2 2 0 0 1 -2 -2V4a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2z" /><path d="M14 4a2 2 0 0 1 2 2v12" /><path d="M8 4a2 2 0 0 0 -2 2v12" /></svg> ¿Qué incluye exactamente el plan gratuito y cómo puedo acceder a él?</h6>
      <p>¡Por supuesto! Estamos felices de ofrecer un plan gratuito a cualquiera que quiera probar nuestro servicio.</p>
    </div>
  </div>
</div>
