<div class="container">
  <div class="pb-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">¡Nuestras principales características!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Bienvenido al mundo de las zapatillas exclusivas, donde la pasión por el calzado se encuentra con la excelencia en el servicio. En nuestro catálogo exclusivo, encontrarás una amplia gama de zapatillas únicas y exclusivas, desde ediciones limitadas hasta clásicos atemporales, diseñados para satisfacer los gustos más exigentes de los amantes de las zapatillas.</p>
    </div>
  </div>
  
  <div class="row mb-5">
    <!-- Catálogo Exclusivo -->
    <div class="col-md-6">
      <div class="card mb-3">
        <a href="/catalogue"><img src="/img/catalogo.jpg" class="card-img-top" alt="Catálogo Exclusivo"></a>
        <div class="card-body">
          <h5 class="card-title">Catálogo Exclusivo</h5>
          <p class="card-text">Explora nuestra amplia selección de zapatillas únicas y exclusivas. Desde ediciones limitadas hasta clásicos atemporales, tenemos algo para cada amante de las zapatillas.</p>
        </div>
      </div>
    </div>
    
    <!-- Precios Competitivos -->
    <div class="col-md-6">
      <div class="card mb-3">
        <a href="/catalogue"><img src="/img/precios.jpg" class="card-img-top" alt="Precios Competitivos"></a>
        <div class="card-body">
          <h5 class="card-title">Precios Competitivos</h5>
          <p class="card-text">Nuestro equipo trabaja arduamente para conseguir los mejores precios para ti. Compramos directamente de proveedores en China, lo que nos permite ofrecer precios competitivos en todas nuestras zapatillas.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <!-- Zona VIP Personalizada -->
    <div class="col-md-6">
      <div class="card mb-3">
        <a href="/vipzone"><img src="/img/vip.jpg" class="card-img-top" alt="Zona VIP Personalizada"></a>
        <div class="card-body">
          <h5 class="card-title">Zona VIP Personalizada</h5>
          <p class="card-text">Únete a nuestra Zona VIP y disfruta de beneficios exclusivos. Los miembros recibirán ofertas personalizadas, acceso anticipado a lanzamientos y más. ¡Sé parte de la comunidad premium!</p>
        </div>
      </div>
    </div>
    
    <!-- Experiencia de Compra Auténtica -->
    <div class="col-md-6">
      <div class="card mb-3">
        <img src="/img/experiencia.jpg" class="card-img-top" alt="Experiencia de Compra Auténtica">
        <div class="card-body">
          <h5 class="card-title">Experiencia de Compra Auténtica</h5>
          <p class="card-text">Somos fanáticos de las colecciones de zapatillas, al igual que tú. Nuestra pasión se refleja en cada detalle de nuestra tienda. Compra con confianza sabiendo que estás apoyando a verdaderos entusiastas.</p>
        </div>
      </div>
    </div>
  </div>
  
   <!-- Blog y Contenido Relevante -->
   <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <a href="/news"><img src="/img/blog.jpg" class="card-img-top" alt="Blog y Contenido Relevante" style="width: 100%; height: auto;"></a>
        <div class="card-body">
          <h5 class="card-title">Blog y Contenido Relevante</h5>
          <p class="card-text">Mantente informado con nuestro blog. Publicamos reseñas, noticias sobre lanzamientos y consejos para cuidar tus zapatillas. ¡La cultura sneaker está viva aquí!</p>
        </div>
      </div>
    </div>
  </div>
  
</div>