<div class="b-example-divider"></div>
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">¡Bienvenidos a Ibertrade!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Somos una empresa apasionada de coleccionismo y amantes de las zapatillas que hemos creado una tienda online única. Nuestra misión es ofrecer una experiencia de compra más cercana y auténtica para los verdaderos fanáticos de las colecciones de zapatillas.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" onclick="window.location.href='/catalogue'">Comenzar a comprar</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/features'">Saber más</button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 60vh;">
    <div class="container px-5">
      <img src="/img/home.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Home" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/img/home2.jpg" class="d-block mx-lg-auto img-fluid" alt="Home 2" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Nuestro Catálogo</h1>
      <p class="lead">Explora nuestro amplio catálogo de zapatillas exclusivas. Nos enorgullecemos de conseguir precios increíbles para nuestros clientes. Además, algunos de nuestros productos provienen directamente de China, lo que nos permite ofrecer una variedad única, atractiva y con precios reducidos.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" onclick="window.location.href='/catalogue'">Ir al catálogo</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/features'">Saber más</button>
      </div>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Zona VIP</h1>
      <p class="lead">¿Quieres más ventajas? Únete a nuestra Zona VIP. Los miembros que pagan una mensualidad obtienen ofertas personalizadas, acceso anticipado a nuevos lanzamientos y una experiencia premium. ¡Sé parte de la comunidad exclusiva!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" onclick="window.location.href='/pricing'">Hacerse VIP</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/features'">Saber más</button>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/img/home3.jpg" class="d-block mx-lg-auto img-fluid" alt="Home 3" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">¡Gracias por explorar con nosotros!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">En nuestra tienda, no solo encontrarás zapatillas, sino una comunidad apasionada. Desde nuestro exclusivo catálogo hasta nuestra Zona VIP, hemos construido un lugar para los verdaderos amantes de las zapatillas. ¡Hasta pronto en tu próxima visita! 🙌👟"</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" onclick="window.location.href='/features'">Seguír explorando</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/about'">¿Quienes somos?</button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 60vh;">
    <div class="container px-5">
      <img src="/img/home4.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Home 4" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>