<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Marca de verificación</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>
<div class="container py-3">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Planes de membresía</h1>
    <p class="fs-5 text-body-secondary">Descubre nuestros planes de membresía: Gratuito y VIP. Con el Plan Gratuito, compra y explora la página. Con el Plan VIP, obtén ofertas exclusivas, notificaciones anticipadas de lanzamientos y acceso completo al blog. Elige tu plan y únete hoy mismo para disfrutar de una experiencia única.</p>
  </div>

  <main>
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Gratis</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Compra y exploración de la página</li>
              <li>Acceso a una amplia gama de productos y servicios</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="window.location.href='/signup'">Registrarse gratis</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Vip</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ofertas exclusivas</li>
              <li>Notificaciones anticipadas de lanzamientos emocionantes</li>
              <li>Acceso completo al blog con contenido exclusivo y perspectivas únicas</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Contáctanos</button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4">Comparar planes</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 33%;">Gratis</th>
            <th style="width: 33%;">Vip</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Acceso a la web</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Ofertas exclusivas</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Compartir</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Notificaciones</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Acceso al blog</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
