<div class="container col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-6 mx-auto">
      <div class="card mb-12">
        <img class="card-img-top" src="/img/zapatilla1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Zapatilla de ejemplo 1</h5>
          <p class="card-text">Marca: Nike, Modelo: Air Max, Precio: 120€, Color: Negro, Talla: 42, Stock: 10</p>
          <a href="#" class="btn btn-success">Aceptar compra</a>
        </div>
      </div>
    </div>
  </div>
</div>